{% load static %}
<!-- HTML head meta tags, fonts and title tag -->
{% include "core/partials/head.html" %}

<!-- icons css files -->
{% include "core/partials/head2.html" %}

  {% include "core/partials/head3.html" %}
  <div class="error-container p-0">
    <div class="container">
      <div>
        <div>
          <img src={% static "/images/background/error-404.png" %} alt="">
        </div>
        <div class="mb-3">
          <h1><span class="f-w-600">SORRY,</span> <span class="text-primary">PAGE NOT FOUND</span></h1>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col-lg-8 offset-lg-2 ">
              <p class="text-center text-secondary f-w-500">The page you are looking for not available!</p>
            </div>
          </div>
        </div>
        <a role="button" href="/" class="btn btn-primary"><i class="ti ti-home"></i> Back To Home</a>
      </div>
    </div>
  </div>

  <!-- essential   -->
  <?php include("core/partials/scriptsAuth.php"); ?>

</body>

</html>