{% load static %}
  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href={% static "/vendor/bootstrap/bootstrap.min.css" %}>

  <!-- simplebar css-->
  <link rel="stylesheet" type="text/css" href={% static "/vendor/simplebar/simplebar.css" %}>

  <!-- App css-->
  <link rel="stylesheet" type="text/css" href={% static "/css/style.css" %}>

  <!-- Responsive css-->
  <link rel="stylesheet" type="text/css" href={% static "/css/responsive.css" %}>
  
  <!-- Custom css files-->
  <link rel="stylesheet" type="text/css" href={% static "css/gsc.css" %}>

  </head>

<body class="ltr" text="small-text">